<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Markey.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5BFD1EB2E734F6C003DB2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5BFD1FF2E734F6E003DB2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5BFD2092E734F6E003DB2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
